body {
margin: 0%;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}   

.topnav {
    background-color: #FFFFFF;
    margin-right: 0px;
    overflow: hidden;
    position: fixed;
    top: 0;
    padding-top: 10px;
    width: 100%;
    height: 60px;
    margin-top: -7px;
    box-shadow: 0 3px 10px 3px rgba(0,0,0,.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.topnav ul li a {
    color: #111C43;
    font-family:'Calibri';
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
}

.topnav ul {
    width: 100%;
    text-align: right;
}

.topnav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.logo-MomCare {
    width: 151px;
    height: 50px;
    padding-left: 10px;
    top: 8px;
}

.profile_pic {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 20px;
    border-style: solid;
    border-width: 1px;
    stroke: #111C43;
}

.main {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.left {
    background-color: rgb(255, 255, 255);
    background-image: url(images/mother.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -40px 0px;
    width: 40%;
    margin-top: 30px;
    margin-left: 10%;
    margin-bottom: 30px;
    height:80vh;
    border-radius: 25px 0 0 25px;
    box-shadow: -6px 6px 10px 3px rgba(0,0,0,.2);
}
.right {
    background-color: rgb(57, 91, 245);
    width: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10%;
    height:80vh;
    border-radius: 0 25px 25px 0;
    box-shadow: 6px 6px 10px 3px rgba(0,0,0,.2);
}

.login-image {
   width: 100%; 
}


/* ---------------------------------login-form */

.login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* float: none; */
    width: 80%;
    height: auto;
    flex-flow: wrap;
    z-index: 3;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    margin-top: 10%;
    margin-inline: 10%;
    min-width: 266px;
}

.div-logo {
    width: 50%;
    display: flex;
    height: fit-content;
    margin-top: 10%;
    justify-content: space-around;
    min-width: 200px;
}

.div-form {
    width: 80%;
    height: fit-content;
    padding-bottom: 10px;
    margin-top: 10%;
}

.div-logo img{
    max-width: 300px;
    max-height: 103.5px;
    
    float: none;
}
/* @media screen and (max-width: 500px) {
    .left,
    .right{
        width: 20%;
    }
} */

.login-form fieldset {
    border-radius: 5px;
    padding: 3px 0px 3px 7px;
    color: rgb(34, 33, 32);
    border-style:solid;
    border-width: thin;
    font-size: 12px;
    border-color: rgb(199, 187, 187);
}

.login-form fieldset input {
    border-radius: 2px;
    border-style: hidden;
    margin-left: -7px;
    width: 90%;
    margin-bottom: 5px; 
    margin-left: 1px;   
    outline-style: none;
    font-size: 15px;
}

/* sign-in option  */


.end {
    display: block;
    width: 100%;
}
.forgot-psw {
    text-align: right;
    margin-right: 10%;
}

.forgot-psw a {
    color: rgb(28, 2, 255);
    text-decoration: none;
    font-size: small;
}

.sign-in-btn {
    text-align: right;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10%;
}
.sign-in-btn button{
    border-radius: 5px;
    border-style:solid;
    border-width: 1px;
    border-color: #8080ff;
    font-size: large;
    height: 35px;
    width: 75px;
    color: #eeeeee;
    background-color:  rgb(57, 91, 245);
    cursor: pointer;
}
/*----------------------- About page styles --------------*/
